################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetSourceBuilder/DotNetSourceBuilder/obj/Debug
